#header {
	background-image: url('../media/images/pages/index/bhijumb.jpg');
}

.btn-theme {
	background-color: #ed4d45;
	color: #fff;
}

.btn-theme:hover {
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
}

.nav-item > a {
	color: #fff !important;
}

.button-group > a:hover {
	text-decoration: none !important;
}

.card-body {
	background-color: #f4f2f1 !important;
}

.card-img {
	border-radius: 0 !important;
}

.btn-turq {
	background-color: #65c9bb;
	color: #fff;
	border-radius: 2px;
}

.sec-img {
	background-position: center !important;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*
.bg-themet {
	background: rgba(255, 99, 71, 0.4) !important;
}
*/

.btn-turq:hover {
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
}

.slide-text {
	flex-wrap: wrap !important;
	position: relative !important;
	left: 2.5rem !important
}

.py-10 {
	padding: 5rem 0 !important;
}

.text-turq {
	color: #65c9bb;
}

.bg-lpink {
	background-color: #fbe0ce;
}

.text-db {
	color: #263b5c;
}

.btn-theme1 {
	color: #ed4d45;
	background: transparent;
	border: 1px solid #ed4d45;
}


.btn-theme1:hover {
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
}

.about-sec1 .btn-theme:hover {
	color: #ed4d45;
	border: 1px solid #ed4d45;
}

.about-sec2 .btn-theme:hover {
	color: #ed4d45;
	border: 1px solid #ed4d45;
}

.card {
	max-height: 470px !important;
	width: auto !important;
	border-radius: 0 !important;
}

.card-img {
	min-height: 278px !important;
}

.about-sec3 .btn-theme:hover {
	color: #ed4d45;
	border: 1px solid #ed4d45;
}

.custom-gap {
	max-width: 600px !important;
	margin: 0 auto !important;
}

.img-t {
	margin: 61px 0 -20px -85px !important;
	height: fit-content !important;
}
#wrapper{
	background: #263b5c;
	color: #fff;
}

@media screen and (max-width:974px) {}
