#header {
	background-image: url('../media/images/pages/index/bhijumb.jpg');
}

.btn-theme {
	background-color: #ed4d45;
	color: #fff;
}

.btn-theme:hover {
	color: #ed4d45;
	background-color: #fff;
}

.nav-item > a {
	color: #fff !important;
}

.button-group > a:hover {
	text-decoration: none !important;
}

.btn-turq {
	background-color: #65c9bb;
	color: #fff;
	border-radius: 2px;
}

.btn-turq:hover {
	color: #65c9bb;
	background-color: #000;
}

@media screen and (max-width:974px) {}
